.page-body {
  font-family: "Ubuntu", sans-serif;
}

.background {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/background.png);
  overflow-x: auto;
  overflow-y: auto;
  background-attachment: fixed;
}

.page-header {
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container-header {
  max-width: 1208px;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 18px;
  padding-bottom: 18px;
}

.container-logo {
  flex-grow: 1;
}

.logo {
  color: #ffffff;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
}

.menu-header {
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  position: relative;
  margin-right: 27px;
}

.menu-header::after {
  content: "";
  height: 19px;
  width: 1px;
  opacity: 0.5;
  background-color: #ffffff;
  position: absolute;
  bottom: 4px;
  left: 142px;
}

.menu-header-list {
  margin-right: 25px;
}

.menu-header-list-icon {
  fill: #ffffff;
}

.menu-header-list-icon:hover {
  fill: #01813f;
}

.welcome-header-text {
  margin: 0;
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
}

.welcome-header-link {
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
}

.logo:hover,
.welcome-header-link:hover {
  color: #01813f;
}

.page-main {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 54px;
  padding-bottom: 54px;
}

.cotainer-main {
  width: 444px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  padding: 30px 60px 38px;
}

.enter-links {
  width: 324px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.enter-link-singUp {
  color: #434343;
  font-size: 20px;
  line-height: 20px;
}

.enter-links::before {
  content: "";
  height: 18px;
  width: 18px;
  background-color: #3cb878;
  position: absolute;
  left: -60px;
  bottom: 1px;
}

.enter-link-logIn {
  color: #3cb878;
  font-size: 14px;
  line-height: 14px;
}

.enter-link-logIn:hover {
  color: #01813f;
  text-decoration: underline;
}

.social-media-links {
  width: 324px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 31px;
}

.social-media-link {
  width: 160px;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  position: relative;
}

.social-media-link::before {
  content: "";
  height: 28px;
  width: 1px;
  background-color: #2b0d09;
  opacity: 0.1;
  position: absolute;
  left: 49px;
  bottom: 10px;
}

.facebook {
  padding: 12px 22px 12px 17px;
  background-color: #305db8;
}

.facebook:hover {
  background-color: #022263;
}

.google {
  padding: 15px 27px 14px 12px;
  background-color: #df4a32;
}

.google:hover {
  background-color: #ab1f09;
}

.social-media-link-text {
  margin: 0;
  color: #ffffff;
  font-size: 16px;
  line-height: 16px;
  align-self: center;
}

.form-field {
  padding: 0;
  margin: 0;
  border: 1px;
  border-top: 1px solid #f2f2f2;
}

.form-title {
  color: #848484;
  font-size: 14px;
  line-height: 14px;
  margin-left: 155px;
  padding: 0;
}

.form-element {
  width: 100%;
  margin-top: 15px;
  padding: 15px 20px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #434343;
  font-size: 14px;
  line-height: 14px;
  outline: none;
}

::placeholder {
  font-size: 14px;
  line-height: 14px;
  color: #bebebe;
}

.form-element:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.checkbox-element {
  accent-color: currentColor;
  color: #ffffff;
  width: 20px;
  height: 20px;
  position: relative;
  bottom: -3px;
}

.checkbox-element-label {
  margin-top: 12px;
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
  cursor: pointer;
}

.checkbox-element-label-link {
  color: #3cb878;
}

.checkbox-element-label-link:hover {
  color: #01813f;
  text-decoration: underline;
}

.form-buttons {
  width: 324px;
  background-color: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  color: #ffffff;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 20px;
  cursor: pointer;
}

.form-buttons:hover {
  background-color: #01813f;
}